<!-- About Alex and Shosh Section -->
<!-- facts are in config.yml -->
    <section id="about_us" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">Some Fun Facts!</h3>
                </div>
            </div>
            <div class="row">
                {% for fact in site.facts %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/about/{{ fact.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ fact.title }}</h4>
                        <p class="text-muted">{{ fact.text }}</p>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
