<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Wedding</h2>

<a href="http://shoshandalex.fun/rsvp/#rsvp" class="page-scroll btn btn-xl">Just Let Me RSVP!</a><br>

                <body>
                  <p><br>We will be getting married May 27, 2018 at  <a href = http://wollamgardens.com>Wollam Gardens Farm</a> in Jeffersonton, VA. We're so excited to share the day with you!<br><br>Please check back here periodically for more updates. Invitations will go out in the early spring. In the meantime, please don’t hesitate to  <a href="mailto:shoshandalexwedding@gmail.com">contact us</a> directly if you need some details or have any questions.</p><br><br>
                    <div class="container">
           
            </div><br><br></p><h4>Click on the Pictures Below For More Details!</h4>
        </div>
    </div>
    <div class="row">
        {% for post in site.posts %}
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/time_and_place/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>{{ post.title }}</h4>
                <p class="text-muted">{{ post.subtitle }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <br><br>
    <div class="col-lg-12 text-center">
      <h3 class="section-heading">A Map!</h3>
      <p>Here's a map of relevant locations. We expect that we'll update this with good restaurants and fun things to do in the area as the wedding gets closer.</p>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1CY5LjASZEUYZxlwSL5GaH6Q0B-w" width="480" height="380"></iframe>
  </div>
</div>
</section>
