<!-- Services Section -->
    <section id="celebration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A Pre-Wedding Celebration</h2>
                    <h3 class="section-subheading text-muted">Food, Friends, Family, Fun!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">

                  <p class="text-muted">Weddings are way more fun when you’re celerating with old friends, so we’re thrilled for some of our closest family and friends to have a chance to meet ahead of time. We hope you can join us for a casual lunch (kosher) at Alex's parents' house - in the backyard, weather permitting. Of course, we'd love to see each and every one of you - but please don’t feel obligated to attend - this isn’t the wedding!
<br><br>
Please let us know if you can make it via the RSVP form below. 
<br><br>
<strong>Please, please</strong> no gifts.
</p>

                    <p><strong> Sunday June 25, 2017<br> 12:00</strong><br><br>

Home of Linda Kahn and Larry Gold<br><br>
                    7421 Baltimore Avenue <br>
                    Takoma Park, MD 20912
<br><br>
In case you need to contact us day-of:
<br>Alex: 301-318-6639
<br>Shoshana: 540-327-6939

</p>

                    </div>
<div class="col-md-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.4465003135406!2d-77.01958268464716!3d38.98230487955765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c89940ffced1%3A0x441183a1290ffb32!2s7421+Baltimore+Ave%2C+Takoma+Park%2C+MD+20912!5e0!3m2!1sen!2sus!4v1493605311847" width="600" height="450" frameborder="10" style="border:0" ></iframe>
                    </div>


            </div>
        </div>
    </section>
