  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://www.buzzfeed.com/spenceralthouse/cooking-fails?utm_term=.rognqLW0x6#.uwaKjvx2Bz">Something Great</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
