  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://justsomething.co/the-34-most-hilarious-pinterest-fails-ever/">Something Great</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
