  <section id="rsvp">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Please RSVP by April 15!</h2>
          <br>
          <p>Sunday, May 27, 2018, ceremony promptly at 4:30.<br><br>Wollam Gardens<br>5167 Jeffersonton Road<br>Jeffersonton, VA 22724 <br><br> Dinner, Dancing, and S'mores to follow.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form name="sentMessage" id="rsvpForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="control-group form-group">
                  <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group form-group">
                  <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group"><label for="exampleSelect1">Total number of people coming including you.</label>
                  <select class="form-control" id="n_people">
                    <option>0 ☹️</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </div>

                <div class="form-group">
                  <p> Wollam Gardens is a 15-20 minute drive from the hotel with plenty of parking. <br> The shuttle from the hotel to Wollam Gardens will leave at 3:45. There will be two shuttles back, at 9:30 and 10:45. </p>
                  <label for="exampleSelect1">Will you be taking the shuttle from the hotel to the venue?</label>
                  <select class="form-control" id="shuttle">
                    <option>Yes 🥂🚌🥂</option>
                    <option>No 🚗</option>
                  </select>
                </div>


              </div>
              <div class="col-md-6">
                <div class="control-group form-group">
                  <label for="exampleSelect1"> Please let us know the names of those attending.</label>
                  <textarea class="form-control" placeholder="Fun people!" id="whos_coming"></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="control-group form-group">
                  <label for="exampleSelect1"> Any food allergies or other dietary restrictions?</label>
                  <textarea class="form-control" placeholder=" All food will be Kosher and non-dairy." id="food"></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="control-group form-group">
                  <label for="exampleSelect1"> Any other fun messages for Alex and Shosh?</label>
                  <textarea class="form-control" placeholder="Ready to party! 😄🤘😁" id="message"></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>

              <div class="col-lg-12 text-center">
                <div class="form-group">
                  <p class = "text-muted" style = "font-style: italic; font-size:1.1em">If you'll be arriving on Saturday, please join us between 7:30 and 9:30 at <a href = "https://www.google.com/maps/place/Mc+Mahon's+Irish+Pub+%26+Restaurant/@38.727337,-77.8041124,15z/data=!4m2!3m1!1s0x0:0x2fd7090b2f7ea93?sa=X&ved=0ahUKEwjet5fh0tPZAhVRhOAKHTWbDO8Q_BIIoQEwCw">McMahon's Irish Pub</a> for dessert and drinks.</p>
                  <label for="exampleSelect1">Will you be joining us the evening before (Saturday) for drinks and dessert?</label>
                  <p>If you decide last minute, please just come!</p>
                  <select class="form-control" id="dessert">
                    <option>Yes 🍪🍾🍰</option>
                    <option>No</option>
                  </select>
                </div>
              </div>



              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button type="submit" class="btn btn-xl">Send</button>
                <br>
                <p> Please be patient after hitting submit, it may take a moment or two. </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
